.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  box-shadow: 10px 10px 5px grey;

}
.left{
  float: left;
  display: inline;
  margin-right: 5%;
  width: max-content;
  box-shadow: 10px 10px 5px grey;

}
.right{
  display: inline;
  margin-left: 5%;
  float: inline-end;
  width: max-content;
  box-shadow: 10px 10px 5px grey;

}
.container{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  top: 10%;
  max-width: 100%;
  margin: auto;
}
mat-card-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.github{
  background-image: url('../../assets/github.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.github:hover{
 transform: scale(1.5);
}
.facebook{
  background-image: url('../../assets/facebook.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.facebook:hover{
  transform: scale(1.5);
}
.linkedin{
  background-image: url('../../assets/linkedin.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 200%;
  background-position: center;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.linkedin:hover{
  transform: scale(1.5);
}

.phone{
  background-image: url('../../assets/whatsapp.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  background-position: center;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;
}
.phone:hover{
  transform: scale(1.5);

}