<div class="container">
<div class="left">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kanad Pardeshi</mat-card-title>
      <mat-card-subtitle>CSE sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/kanad.jpg" alt="Photo of Kanad" style="border-radius: 100%;">
    <mat-card-content>
      <p>
        Hi, Kanad here! Danish and I have developed this website from scratch for the SSL lab. Coming to myself, nothing excites me more than learning new things about the world. Although I find it exhilarating to gaze at the clouds of theory, I also enjoy the practical aspects of Computer Science. I believe that the SSL Lab is helping me become a more complete programmer, and my biggest learning from this course would be <em>'the client is always right'</em>!
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="github" onclick="window.location.href='https://github.com/KanPard005';"></button>
        <button mat-button class="facebook" onclick="window.location.href='https://www.facebook.com/kanad.pardeshi/';"></button>
        <button mat-button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/kanad-pardeshi-09bb351b9/';"></button>
        <button class="phone" [cdkCopyToClipboard]="value1" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="right">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Danish Angural</mat-card-title>
      <mat-card-subtitle>CSE Sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/danish.png" alt="Photo of Danish" style="border-radius: 100%;">
    <mat-card-content>
      <p>
       Hi, I am Danish. I and Kanad Have Developed this website in Angular as a part of outlab6. I have keen interest in Web Development, Machine Learning (who doesn't?) and most of all, Basketbal<font face="Segoe UI Symbol">&#x1f604;</font>. Contrary to popular opinion, i find SSL outlabs relaxing, especially the latter ones. Whenever I feel I am fed up with all the subjects, i move to ssl and that keeps me busy for some hours. To qoute guddu bhaiya: <em>'shuru majboori me kiye the, par ab maza aane laga hai'</em>!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="github" onclick="window.location.href='https://danish-angural.github.io';"></button>
      <button mat-button class="facebook" onclick="window.location.href='https://www.facebook.com/profile.php?id=100008739935715';"></button>
      <button mat-button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/danish-angural-425ab1195/';'"></button>
      <button class="phone" [cdkCopyToClipboard]="value2" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>