<div class="container">
<div class="left">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kanad Pardeshi</mat-card-title>
      <mat-card-subtitle>CSE sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/kanad.jpg" alt="Photo of a Kanad" style="border-radius: 100%;">
    <mat-card-content>
      <p>
        Hi, I am Danish. I have developed this website with Kanad as a part of SSL outlab 6 assignment. I like to play Basketball, go out cycling etc.
       In contrast to what some people say, I find SSL labs relaxing and hence prefer to do it when i have given up on all other subjects, which is quite frequent.
       I also like exploring Django and MEAN-stack.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="github" onclick="window.location.href='https://github.com/KanPard005';"></button>
        <button mat-button class="facebook" onclick="window.location.href='https://www.facebook.com/kanad.pardeshi/';"></button>
        <button mat-button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/kanad-pardeshi-09bb351b9/';"></button>
        <button class="phone" [cdkCopyToClipboard]="value1" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="right">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Danish Angural</mat-card-title>
      <mat-card-subtitle>CSE Sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/danish.png" alt="Photo of Danish" style="border-radius: 100%;">
    <mat-card-content>
      <p>
       Hi, I am Danish. I have developed this website with Kanad as a part of SSL outlab 6 assignment. I like to play Basketball, go out cycling etc.
       In contrast to what some people say, I find SSL labs relaxing and hence prefer to do it when i have given up on all other subjects, which is quite frequent.
       I also like exploring Django and MEAN-stack.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="github" onclick="window.location.href='https://danish-angural.github.io';"></button>
      <button mat-button class="facebook" onclick="window.location.href='https://www.facebook.com/profile.php?id=100008739935715';"></button>
      <button mat-button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/danish-angural-425ab1195/';'"></button>
      <button class="phone" [cdkCopyToClipboard]="value2" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>