<div class="container">
<div class="left">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="border-radius: 100%;">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="github" onclick="window.location.href='https://danish-angural.github.io';"></button>
        <button mat-button class="facebook" onclick="window.location.href='https://danish-angural.github.io';"></button>
        <button mat-button class="linkedin" onclick="window.location.href='https://danish-angural.github.io';"></button>
        <button class="phone" onclick="window.location.href='https://danish-angural.github.io';"></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="right">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="border-radius: 100%;">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="github" onclick="window.location.href='https://danish-angural.github.io';"></button>
      <button mat-button class="facebook" onclick="window.location.href='https://www.facebook.com/profile.php?id=100008739935715';"></button>
      <button mat-button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/danish-angural-425ab1195/"></button>
      <button class="phone" [cdkCopyToClipboard]="value2" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>